body{

background-image: url("Backgroundimage/myBackground.jpg");
background-color: blueviolet;





}

h1{
background: linear-gradient(lightgreen, skyblue);

font-family: "Algerian",sans-serif;
color: black;
text-decoration: black  underline;



border-top-color: black;
border-bottom-color:black ;
border-left-width: 10px;
border-left-color: black;;
border-radius: 10px;
padding: 5px;

}

p{
    background: linear-gradient(lightgreen, skyblue);


color: rgb(0, 3, 0);
font-family: "consolas",sans-serif;
font-weight: bold;
font-style: italic;
font-size: 20px;

border-style: outset;
border-width: 5px;
border-color: cyan;
border-radius: 10px;
padding: 20px;
}